In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pyiast
import pandas as pd

Let's first calculate the selectivity using our own results and then we compare with the ones given.

In [3]:
# Charger les données d'adsorption pour le méthane
df_co2 = pd.read_csv("CO2_IRMOF-1_veritable.csv")
df_ch4 = pd.read_csv("isotherm_data_ch4.csv")
df_ch4.head()

   Pressure (bar)  Loading (mmol/g)
0             0.2          0.021916
1             0.8          0.086853
2             1.4          0.153770
3             2.0          0.222181
4             2.6          0.291501

In [4]:
df_co2.head()

   pressure (bar)  loading (mmol/g)
0             0.2          0.086528
1             0.8          0.360042
2             1.4          0.642906
3             2.0          0.961811
4             2.6          1.214057

In [5]:
ch4_isotherm = pyiast.InterpolatorIsotherm(df_ch4,
                                    loading_key="Loading (mmol/g)",
                                    pressure_key="Pressure (bar)")
ch4_isotherm = pyiast.InterpolatorIsotherm(df_ch4,
                                    loading_key="Loading (mmol/g)",
                                    pressure_key="Pressure (bar)",
                                    fill_value=df_ch4['Loading (mmol/g)'].max())
q_01_ch4= ch4_isotherm.loading(0.1)
print(q_01_ch4)
q_1_ch4=ch4_isotherm.loading(1)
print(q_1_ch4)
q_2_ch4=ch4_isotherm.loading(2)
print(q_2_ch4)
q_3_ch4=ch4_isotherm.loading(3)
print(q_3_ch4)

0.0109580750235
0.10915866141928
0.22218105892092
0.33689181168543997

In [6]:
co2_isotherm = pyiast.InterpolatorIsotherm(df_co2,
                                    loading_key="loading (mmol/g)",
                                    pressure_key="pressure (bar)")
co2_isotherm = pyiast.InterpolatorIsotherm(df_co2,
                                    loading_key="loading (mmol/g)",
                                    pressure_key="pressure (bar)",
                                    fill_value=df_co2['loading (mmol/g)'].max())

In [7]:
q_01_co2= co2_isotherm.loading(0.1)
print(q_01_co2)
q_1_co2=co2_isotherm.loading(1)
print(q_1_co2)
q_2_co2=co2_isotherm.loading(2)
print(q_2_co2)
q_3_co2=co2_isotherm.loading(3)
print(q_3_co2)

0.0432641036113
0.45432990756691993
0.96181053754412
1.4392579248643

In [8]:


S_01=((q_01_co2)*0.6)/((q_01_ch4)*0.4)
S_1=((q_1_co2)*0.6)/((q_1_ch4)*0.4)
S_2=((q_2_co2)*0.6)/((q_2_ch4)*0.4)
S_3=((q_3_co2)*0.6)/((q_3_ch4)*0.4)

print(S_01)
print(S_1)
print(S_2)
print(S_3)

5.9222222222222225
6.243158834027364
6.493423936869794
6.408249807247406

In [32]:
q_4_ch4= ch4_isotherm.loading(4)
print(q_4_ch4)
q_4_co2= co2_isotherm.loading(4)
print(q_4_co2)
S_4=((q_4_co2)*0.6)/((q_4_ch4)*0.4)
print(S_4)

0.4506609817072
1.986176802136
6.610878962536112

In [22]:
q_5_ch4= ch4_isotherm.loading(5)
print(q_5_ch4)
q_5_co2= co2_isotherm.loading(5)
print(q_5_co2)
S_5=((q_5_co2)*0.6)/((q_5_ch4)*0.4)
print(S_5)

0.55270907000012
2.6275353462274
7.130881748222882

Now we do the same calculations with the ones reported in the article to compare.