In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pyiast
import pandas as pd

Let's first calculate the selectivity using our own results and then we compare with the ones given.

In [14]:
# Charger les données d'adsorption pour le méthane
df_co2 = pd.read_csv("CO2_IRMOF-1_veritable.csv")
df_ch4 = pd.read_csv("isotherm_data_ch4.csv")
df_ch4.head()

   Pressure (bar)  Loading (mmol/g)
0             0.2          0.021916
1             0.8          0.086853
2             1.4          0.153770
3             2.0          0.222181
4             2.6          0.291501

In [15]:
df_co2.head()

   pressure (bar)  loading (mmol/g)
0             0.2          0.086528
1             0.8          0.360042
2             1.4          0.642906
3             2.0          0.961811
4             2.6          1.214057

In [16]:
ch4_isotherm = pyiast.InterpolatorIsotherm(df_ch4,
                                    loading_key="Loading (mmol/g)",
                                    pressure_key="Pressure (bar)")
ch4_isotherm = pyiast.InterpolatorIsotherm(df_ch4,
                                    loading_key="Loading (mmol/g)",
                                    pressure_key="Pressure (bar)",
                                    fill_value=df_ch4['Loading (mmol/g)'].max())
q_01_ch4= ch4_isotherm.loading(0.1)
print(q_01_ch4)
q_1_ch4=ch4_isotherm.loading(1)
print(q_1_ch4)
q_2_ch4=ch4_isotherm.loading(2)
print(q_2_ch4)
q_3_ch4=ch4_isotherm.loading(3)
print(q_3_ch4)

0.0109580750235
0.10915866141928
0.22218105892092
0.33689181168543997

In [17]:
co2_isotherm = pyiast.InterpolatorIsotherm(df_co2,
                                    loading_key="loading (mmol/g)",
                                    pressure_key="pressure (bar)")
co2_isotherm = pyiast.InterpolatorIsotherm(df_co2,
                                    loading_key="loading (mmol/g)",
                                    pressure_key="pressure (bar)",
                                    fill_value=df_co2['loading (mmol/g)'].max())

In [18]:
q_01_co2= co2_isotherm.loading(0.1)
print(q_01_co2)
q_1_co2=co2_isotherm.loading(1)
print(q_1_co2)
q_2_co2=co2_isotherm.loading(2)
print(q_2_co2)
q_3_co2=co2_isotherm.loading(3)
print(q_3_co2)

0.0432641036113
0.45432990756691993
0.96181053754412
1.4392579248643

In [19]:


S_01=((q_01_co2)*0.6)/((q_01_ch4)*0.4)
S_1=((q_1_co2)*0.6)/((q_1_ch4)*0.4)
S_2=((q_2_co2)*0.6)/((q_2_ch4)*0.4)
S_3=((q_3_co2)*0.6)/((q_3_ch4)*0.4)

print(S_01)
print(S_1)
print(S_2)
print(S_3)

5.9222222222222225
6.243158834027364
6.493423936869794
6.408249807247406

In [20]:
S_preuve1=((q_01_co2)*0.6)/((q_01_ch4)*0.4)
S_preuve2=((q_01_co2)*0.3)/((q_01_ch4)*0.2)
print(S_preuve1)
print(S_preuve2)

divise par 2 de chaque coté

SyntaxError: invalid syntax (2177260581.py, line 6)

In [32]:
q_4_ch4= ch4_isotherm.loading(4)
print(q_4_ch4)
q_4_co2= co2_isotherm.loading(4)
print(q_4_co2)
S_4=((q_4_co2)*0.6)/((q_4_ch4)*0.4)
print(S_4)

0.4506609817072
1.986176802136
6.610878962536112

In [22]:
q_5_ch4= ch4_isotherm.loading(5)
print(q_5_ch4)
q_5_co2= co2_isotherm.loading(5)
print(q_5_co2)
S_5=((q_5_co2)*0.6)/((q_5_ch4)*0.4)
print(S_5)

0.55270907000012
2.6275353462274
7.130881748222882

Now we do the same calculations with the ones reported in the article to compare.

In [23]:
# Charger les données d'adsorption pour le méthane
dfcompare_co2 = pd.read_csv("CO2_IRMOF1.csv")
dfcompare_ch4 = pd.read_csv("CH4_IRMOF1.csv")
dfcompare_ch4.head()

   Pressure(bar)  Loading(mmol/g)  Unnamed: 2  Unnamed: 3
0            0.1         0.010812         NaN         NaN
1            0.5         0.059352         NaN         NaN
2            0.9         0.104386         NaN         NaN
3            1.3         0.148186         NaN         NaN
4            1.7         0.198804         NaN         NaN

In [24]:
dfcompare_co2.head()

   Pressure(bar)  Loading(mmol/g)  Unnamed: 2  Unnamed: 3
0            0.1         0.053378         NaN         NaN
1            0.5         0.273871         NaN         NaN
2            0.9         0.505175         NaN         NaN
3            1.3         0.751415         NaN         NaN
4            1.7         1.009247         NaN         NaN

In [27]:
ch4_isothermcompare = pyiast.InterpolatorIsotherm(dfcompare_ch4,
                                    loading_key="Loading(mmol/g)",
                                    pressure_key="Pressure(bar)")
ch4_isothermcompare = pyiast.InterpolatorIsotherm(dfcompare_ch4,
                                    loading_key="Loading(mmol/g)",
                                    pressure_key="Pressure(bar)",
                                    fill_value=dfcompare_ch4['Loading(mmol/g)'].max())
q_01_ch4compare= ch4_isothermcompare.loading(0.1)
print(q_01_ch4compare)
q_1_ch4compare=ch4_isothermcompare.loading(1)
print(q_1_ch4compare)
q_2_ch4compare=ch4_isothermcompare.loading(2)
print(q_2_ch4compare)
q_3_ch4compare=ch4_isothermcompare.loading(3)
print(q_3_ch4compare)

0.010811967
0.11533576899999999
0.2391538995
0.34957071075

In [28]:
co2_isothermcompare = pyiast.InterpolatorIsotherm(dfcompare_co2,
                                    loading_key="Loading(mmol/g)",
                                    pressure_key="Pressure(bar)")
co2_isothermcompare = pyiast.InterpolatorIsotherm(dfcompare_co2,
                                    loading_key="Loading(mmol/g)",
                                    pressure_key="Pressure(bar)",
                                    fill_value=dfcompare_co2['Loading(mmol/g)'].max())

In [29]:
q_01_co2compare= co2_isothermcompare.loading(0.1)
print(q_01_co2compare)
q_1_co2compare=co2_isothermcompare.loading(1)
print(q_1_co2compare)
q_2_co2compare=co2_isothermcompare.loading(2)
print(q_2_co2compare)
q_3_co2compare=co2_isothermcompare.loading(3)
print(q_3_co2compare)

0.053378001
0.56673540625
1.16419400775
1.8799430000000001

In [30]:
S_01compare=((q_01_co2compare)*0.6)/((q_01_ch4compare)*0.4)
S_1compare=((q_1_co2compare)*0.6)/((q_1_ch4compare)*0.4)
S_2compare=((q_2_co2compare)*0.6)/((q_2_ch4compare)*0.4)
S_3compare=((q_3_co2compare)*0.6)/((q_3_ch4compare)*0.4)

print(S_01compare)
print(S_1compare)
print(S_2compare)
print(S_3compare)

7.4054056491293405
7.3706805507578474
7.301954997497333
8.06679282125755

In [34]:
q_4_ch4compare= ch4_isothermcompare.loading(4)
print(q_4_ch4)
q_4_co2compare= co2_isothermcompare.loading(4)
print(q_4_co2compare)
S_4compare=((q_4_co2compare)*0.6)/((q_4_ch4compare)*0.4)
print(S_4compare)

0.4506609817072
2.5013713755
7.99020759848785

In [35]:
q_5_ch4compare= ch4_isothermcompare.loading(5)
print(q_5_ch4)
q_5_co2compare= co2_isothermcompare.loading(5)
print(q_5_co2compare)
S_5compare=((q_5_co2compare)*0.6)/((q_5_ch4compare)*0.4)
print(S_5compare)

0.55270907000012
3.2293852947499997
8.187898742583627