# Part A

In [2]:
import pandas as pd

df = pd.read_csv('.\\1-PeriodicTable.csv')

**1. Explain what the data is about**

This document is a table gathering different characteristics of the periodic table elements as their atomic number, symbol, name, atomic mass, electronic configuration, CPKHexColor, electronegativity, atomic radius, ionization energy, electron affinity, oxidation states, standard states, melting point, boiling point, density, group block and finally year discovery.

**2. What are the datatypes in your dataframe ?**

The datatypes of each characteristic in our dataframe are :
- atomic numbers are integers (int64)
- symbol, name, CPKHexColor, electron configuration, oxidation states, standard state, group block and year discovery are strings
- atomic mass, electronegativity, atomic radius, ionization energy, electron affinity, melting point, boiling point and density are float (float64)

The following code was used to check the datatypes of our dataframe :

In [3]:
hydrogen_info = df.loc[0]
for column in df.columns:
    value = hydrogen_info[column]
    print(f" {column} | Type: {type(value)}")

 AtomicNumber | Type: <class 'numpy.int64'>
 Symbol | Type: <class 'str'>
 Name | Type: <class 'str'>
 AtomicMass | Type: <class 'numpy.float64'>
 CPKHexColor | Type: <class 'str'>
 ElectronConfiguration | Type: <class 'str'>
 Electronegativity | Type: <class 'numpy.float64'>
 AtomicRadius | Type: <class 'numpy.float64'>
 IonizationEnergy | Type: <class 'numpy.float64'>
 ElectronAffinity | Type: <class 'numpy.float64'>
 OxidationStates | Type: <class 'str'>
 StandardState | Type: <class 'str'>
 MeltingPoint | Type: <class 'numpy.float64'>
 BoilingPoint | Type: <class 'numpy.float64'>
 Density | Type: <class 'numpy.float64'>
 GroupBlock | Type: <class 'str'>
 YearDiscovered | Type: <class 'str'>

**3.How many rows and columns do you have ?**

We have in our dataframe 118 rows (without counting the title of each column) and 17 columns.

**4.Do you have missing data ? If yes, how many ?**

We have 192 types of data that are missed in our dataframe : 
- CPKHexColor : 10 missing values
- Electronegativity : 23 missing values
- Atomic Radius : 19 missing values
- Ionization Energy : 16 missing values
- Electron Affinity : 61 missing values
- Oxidation States : 1 missing value
- Melting Point : 15 missing values
- Boiling Point : 25 missing values
- Density : 22 missing values

# Part B

**1.Select 2 subsets (i.e., certain rows) of your data using Boolean indexing. The selection
must be based on 2 different conditions**

For our first subset, we choose to take only noble atoms :

In [4]:
df[(df['GroupBlock'] == 'Noble gas') ]

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
1,2,He,Helium,4.00260,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
9,10,Ne,Neon,20.18000,B3E3F5,[He]2s2 2p6,NaN,154.0,21.565,NaN,0,Gas,24.56,27.07,0.000900,Noble gas,1898
17,18,Ar,Argon,39.90000,80D1E3,[Ne]3s2 3p6,NaN,188.0,15.760,NaN,0,Gas,83.80,87.30,0.001784,Noble gas,1894
35,36,Kr,Krypton,83.80000,5CB8D1,[Ar]4s2 3d10 4p6,3.0,202.0,14.000,NaN,0,Gas,115.79,119.93,0.003733,Noble gas,1898
53,54,Xe,Xenon,131.29000,429EB0,[Kr]5s2 4d10 5p6,2.6,216.0,12.130,NaN,0,Gas,161.36,165.03,0.005887,Noble gas,1898
85,86,Rn,Radon,222.01758,428296,[Xe]6s2 4f14 5d10 6p6,NaN,220.0,10.745,NaN,0,Gas,202.00,211.45,0.009730,Noble gas,1900
117,118,Og,Oganesson,295.21600,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

For our second subset, we choose to take elements that their standard states are solids :

In [5]:
df[(df['StandardState'] == 'Solid') ]

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.0,0.534,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.0,1.850,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.0,2.370,Metalloid,1808
5,6,C,Carbon,12.011000,909090,[He]2s2 2p2,2.55,170.0,11.260,1.263,"+4, +2, -4",Solid,3823.00,4098.0,2.267,Nonmetal,Ancient
10,11,Na,Sodium,22.989769,AB5CF2,[Ne]3s1,0.93,227.0,5.139,0.548,+1,Solid,370.95,1156.0,0.970,Alkali metal,1807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,105,Db,Dubnium,268.126000,D1004F,[Rn]7s2 5f14 6d3,NaN,NaN,NaN,NaN,"5, 4, 3",Solid,NaN,NaN,NaN,Transition metal,1967
105,106,Sg,Seaborgium,269.128000,D90045,[Rn]7s2 5f14 6d4,NaN,NaN,NaN,NaN,"6, 5, 4, 3, 0",Solid,NaN,NaN,NaN,Transition metal,1974
106,107,Bh,Bohrium,270.133000,E00038,[Rn]7s2 5f14 6d5,NaN,NaN,NaN,NaN,"7, 5, 4, 3",Solid,NaN,NaN,NaN,Transition metal,1976
107,108,Hs,Hassium,269.133600,E6002E,[Rn]7s2 5f14 6d6,NaN,NaN,NaN,NaN,"8, 6, 5, 4, 3, 2",Solid,NaN,NaN,NaN,Transition metal,1984
108,109,Mt,Meitnerium,277.154000,EB0026,[Rn]7s2 5f14 6d7 (calculated),NaN,NaN,NaN,NaN,"9, 8, 6, 4, 3, 1",Solid,NaN,NaN,NaN,Transition metal,1982

**2.Explain your choices**

We have chosen to select the noble gases in our first condition. This allows us to find them more easily, so we can write the electronic configuration of any element in the table.  It's also useful to know the form of elements in their standard state (solid, liquid or gas at 25°C and 1 bar) when we want to carry out a chemical reaction. Here, we have chosen to select only elements that are solids in their standard states but we could also do the same for gas or liquid.

**3.Discuss at least 4 interesting points of your data. For instance, you can find maxima,
minima, mean, standard deviation, etc…**

The 4 interesting points of our dataframe we have chosen are as follows :
* the average of the atomic radius of an atom
* the median atomic mass
* the minimal ionization energy

**Get the average of the boiling point of the atoms**

In [22]:
mean_boiling_point=df['BoilingPoint'].mean()
print(f"The mean of boiling point is : {mean_boiling_point}")

The mean of boiling point is : 2536.21247311828

**Get the median boiling point**

In [21]:
median_boiling_point=df['BoilingPoint'].median()
print(f"The median of boiling point is : {median_boiling_point}")

The median of boiling point is : 2792.0

**Get the maximum boiling point**

In [20]:
max_boiling_point=df['BoilingPoint'].max()
print(f"The maximum of boiling point is : {max_boiling_point}")

The maximum of boiling point is : 5869.0

**Get the minimal boiling pont**

In [19]:
min_boiling_point=df['BoilingPoint'].min()
print(f"The minimum of boiling point is : {min_boiling_point}")

The minimum of boiling point is : 4.22

Nous avons ici choisi d'étudier les points d'ébulition des éléments du tableau périodique parmis ceux qui sont fourni dans notre tableau. Nous avons décidé de faire apparaitre le maximum (5869 K) et le minimum (4.22 K) de ces valeurs ce qui nous permet de calculer l'étendue (5864.78 K). On remarque alors que cette étendue est très grande, cela explique pourquoi les elements sont a des états tres différents selon les conditions de l'environement. La moyenne calculée est de 2536.21 K tandis que la mediane est de 2792 K, puisque la médiane se situe au milieu des valeurs listées (50% de valeurs avant et 50% de valeurs après) et quelle est supérieure ala mdiane nous pouvons conclure qu'il doit y avoir des valeurs aberrantes très petites de point d"='ébulition qui diminue la valure moyenne des donées.

# Part C

**1.Show parts of your data by creating 2 different data plots. Make sure you use 2 different
plot types (scatter, histograms, density, pie-charts, Venn diagrams, etc…). For that you
can use different libraries (matplotlib, seaborn, Bokeh, venn, etc…). Please add a title,
proper axis labels and legends and make sure the plots are meaningful and readable.**

**2.Discuss the plots (5 each)**